nav a{
  text-decoration: navajowhite;
  color: white;
  text-align: center;
  padding : 50px;
}

nav{
  background-color: black;
  text-decoration: aqua;
}
nav a:hover{
  color: tomato;
}
.profile_img {
        border-radius: 50%;
}
.profile_name{
  font-size: zem;
  font-weight: 900;
  letter-spacing: 4px;
  word-spacing: 10px;
  text-transform: uppercase;
  margin: 20px;
}
@media screen and (max width: 700px)
6{
  nav{ flex-direction: column;
  padding:10px 0 px;
}
}
nav a:visisted{
  color: red;
}